{{ define "classdetail"}}
{{ template "head" }}
<div class="container-fluid">
<div class="row">
  <div class="col-sm-12 col-md-12">
    <a href="/{{.Backlink}}{{with .Filter}}?filter={{ urlescape .  }}{{end}}">&lt;--  back to list</a>
  </div>
</div>
{{ with .Documentclass }}
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <h1>{{ .Name }}</h1>
      <p>{{  index .ShortDescription  "en" }}</p>
    </div>
  </div>

{{ with .Optiongroup }}<h2>Class options</h2>{{end}}
{{ range .Optiongroup }}
<p class="optiongroup">{{index .ShortDescription "en" }}</p>
{{ range .Classoption }}
<div class="cmddescription">
  <div class="row">
      <div class="col-md-4 lxcommand">{{ .Name }}{{ if .Default }}*{{end}}</div>
      <div class="col-md-7 shortdesc">{{ index .ShortDescription "en" }}</div>
  </div>
</div>
{{end }}
{{end }}

<div class="row"><div class="col-sm-12">{{  index .Description "en"  }}</div></div>


{{ end}}
</div>
{{ template "foot" }}
{{end }}




{{ define "pkgdetail"}}
{{ template "head" }}
<div class="container-fluid">
<div class="row">
  <div class="col-sm-12 col-md-12">
    <a href="/{{with .Filter}}?filter={{ urlescape . }}{{end}}">&lt;--  back to list</a>
  </div>
</div>
{{ with .Package }}
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <h1><tt>{{ .Name }}</tt></h1>
      <p>{{  index .ShortDescription  "en" }}</p>
    </div>
  </div>

{{ range .Options }}
<div class="cmddescription">
  <div class="row">
      <div class="col-md-4 lxcommand">{{ .Name }}{{ if .Default }}*{{end}}</div>
      <div class="col-md-7 shortdesc">{{ index .ShortDescription "en" }}</div>
  </div>
</div>
{{ end }}

  <div class="row"><div class="col-sm-12">{{  index .Description "en"  }}</div></div>

{{ range .Commands }}
<div class="cmddescription"><a href="/pkg/{{ urlescape $.Package.Name }}/cmd/{{ urlescape .Name }}{{ with $.Filter }}?filter={{ urlescape . }}{{end}}"><div class="row">
      <div class="col-md-4 lxcommand">{{ .Name }}</div>
      <div class="col-md-7 shortdesc">{{ index .ShortDescription "en" }}</div>
</div></a></div>
{{ end }}
{{ end}}
</div>
{{ template "foot" }}
{{end }}




{{ define "envdetail"}}
{{ template "head" }}
<div class="container-fluid">
<div class="row">
  <div class="col-sm-12 col-md-12">
    <a href="/{{with .Filter}}?filter={{ urlescape .  }}{{end}}">&lt;--  back to list</a>
  </div>
</div>
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <h1><tt>{{ .Environment.Name }}</tt></h1>
      <p>{{  index .Environment.ShortDescription  "en" }}</p>
    </div>
  </div>
{{ range $varindex, $variant := .Environment.Variant }}
  <div class="row">
    <div class="col-sm-4 col-md-4 col-xs-4">
      <table class="table table-condensed">
        <tr>
          <td  class="lxenvironment" align="left"><tt>\begin{{ "{" }}{{ .Name }}{{ "}" }}</tt></td>
  {{ with .Arguments}}
  {{ range $index, $argument := . }}
            <td class="{{ if eq $argument.Optional true }}lxoptional{{end}}">{{showargument $argument.Type }}</td>
  {{ end }}
  {{ end }}
        </tr>
  {{ with .Arguments}}
        <tr><td></td><!-- empty -->
  {{ range $index, $argument := . }}<td>{{ addone $index }}</td>{{end}}
  </tr>{{end}}<tr>
    <td char="lxenvironment" align="left"><tt>\end{{ "{" }}{{ .Name }}{{ "}" }}</tt></td>{{ range .Arguments }}<td></td>{{end}}
        </tr>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">{{ index .Description "en" }}</div>
  </div>
  <hr class="vardivider">
{{ end }}

  <div class="row">
    <div class="col-sm-12">
    {{  index .Environment.Description "en"  }}
    </div>
  </div>
</div>
{{ template "foot" }}
{{end }}


{{ define "commanddetail.html"}}
{{ template "head" }}
<div class="container-fluid">
<div class="row">
  <div class="col-sm-12 col-md-12">
    <a href="{{.Backlink}}{{with .Filter}}?filter={{ urlescape .  }}{{end}}">&lt;--  back to list</a>
  </div>
</div>
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <h1><tt>{{ .Command.Name }}</tt></h1>
      <p>{{  index .Command.ShortDescription  "en" }}</p>
    </div>
  </div>
{{ range $varindex, $variant := .Command.Variant }}
  <div class="row">
    <div class="col-sm-4 col-md-4 col-xs-4">
      <table class="table table-condensed">
        <tr>
          <td  class="lxcommand" align="left">{{ .Name }}</td>
  {{ range $index, $argument := .Arguments }}
            <td class="{{ if eq $argument.Optional true }}lxoptional{{end}}">{{showargument $argument.Type }}</td>
  {{ end }}
        </tr><tr><td></td><!-- empty -->
  {{ range $index, $argument := .Arguments }}<td>{{ addone $index }}</td>{{end}}
        </tr>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">{{ index .Description "en" }}</div>
  </div>
  <hr class="vardivider">
{{ end }}

  <div class="row">
    <div class="col-sm-12">
    {{  index .Command.Description "en"  }}
    </div>
  </div>
</div>
{{ template "foot" }}
{{end }}
