{{define "head" -}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>LaTeX commands</title>

    <!-- Bootstrap -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/assets/css/bootstrap-tagsinput.css" rel="stylesheet">
    <link href="/assets/css/font-awesome.min.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="/assets/lc/main.css">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/assets/js/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/assets/js/bootstrap.min.js"></script>

  </head>
  <body>
<div class="navbar">
  <a class="navbar-brand" href="/{{with .Edit}}?edit={{.}}{{end}}">LaTeX commands</a>
  <p class="navbar-left">Demo only! Stay tuned for a full version. Would you help me bringing this to useful version? <a href="mailto:gundlach@speedata.de?subject=I'd like to improve ltxref.org&amp;body=Hello Patrick!%0A%0Altxref.org looks promising. I'd like to help out, can you give me write permission?%0A%0AThanks, <person with a name>">Then drop me an email!</a></p>
</div>
  {{end}}

  {{ define "foot" }}
    <p style="margin-top: 20px; margin-left: 10px; margin-bottom: 20px;">ltxref / ltxdoc by <a href="mailto:gundlach@speedata.de"> Patrick Gundlach / speedata</a>. Source code at <a href="https://github.com/speedata/ltxdoc">Github</a>. {{with .XMLUrl}}<a href="{{ . }}">Export this page as XML</a>{{end}} {{with .PlainTextUrl}}<a href="{{ . }}">or as plain text</a>.{{end}} The contents is licensed under the <a href="https://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International license</a>.</p>
 <!-- attheend -->


  </body>
</html>
{{ end }}
