{{template "head"}}
{{ with .Edit}}
<div class="modal fade" id="addcommand">
  <div class="modal-dialog">
    <div class="modal-content">
      <form class="form-inline" action="/addcommand" method="POST">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Add command</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <input type="text" name="command" placeholder="\command">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button  class="btn btn-primary" type="submit">Save changes</button>
        </div>
      </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{{end}}

<div class="container-fluid">
<div class="row">
  <div class="col-md-7">
          <form class="form-inline" role="search" action="/" method="GET">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="{{ with .Filter }}{{ . }}{{else}}Command{{end}}" name="filter">
            {{with .Tag}}<input type="hidden" value="{{ . }}" name="tag">{{end}}
          </div>
          <button type="submit" class="btn btn-default">Filter</button>
          <a href="/{{ with .Tag}}?tag={{.}}{{end}}"><button type="button" class="btn btn-info">Clear Filter</button></a>
        </form>
</p>
  </div>
</div>

<div class="row">
  <div class="col-md-7">
    <p>Goto <a href="#commands">commands</a>, <a href="#environments">environments</a>, <a href="#documentclasses">documentclasses</a>, <a href="#packages">packages</a>, <a href="#tags">tags</a>
  </div>
</div>

<div style="padding-top: 30px;"></div>

{{ with .L }}

  <div class="row row-offcanvas row-offcanvas-left">
    <div class="col-xs-12 col-sm-9">
{{with .Commands}}<h1 id="commands">Commands {{ with $.Edit}}<small><a  data-toggle="modal" data-target="#addcommand" href="#">add new</a></small>{{end}}</h1>{{end}}
{{ range .Commands }}
<div class="cmddescription"><a href="/cmd/{{ urlescape .Name }}{{ with $.Filter }}?filter={{ urlescape . }}{{end}}"><div class="row">
      <div class="col-md-4 lxcommand">{{ .Name }}</div>
      <div class="col-md-7 shortdesc">{{ index .ShortDescription "en" }}</div>
</div></a></div>
{{ end }}
{{with .Environments }}<h1 id="environments">Environments</h1>{{end}}
{{ range .Environments }}
<div class="cmddescription"><a href="/env/{{ urlescape .Name }}{{ with $.Filter }}?filter={{ urlescape . }}{{end}}"><div class="row">
      <div class="col-md-4 lxenvironment">{{ .Name }}</div>
      <div class="col-md-7 shortdesc">{{ index .ShortDescription "en" }}</div>
</div></a></div>
{{ end }}
{{ with .Documentclasses }}<h1 id="documentclasses">Documentclasses</h1>{{ end }}
{{ range .Documentclasses }}
<div class="cmddescription"><a href="/class/{{ urlescape .Name }}{{ with $.Filter }}?filter={{ urlescape . }}{{end}}"><div class="row">
      <div class="col-md-4 lxenvironment">{{ .Name }}</div>
      <div class="col-md-7 shortdesc">{{ index .ShortDescription "en" }}</div>
</div></a></div>
{{end}}

{{ with .Packages }}<h1 id="packages">Packages</h1>{{ end }}
{{ range .Packages }}
<div class="cmddescription"><a href="/pkg/{{ urlescape .Name }}{{ with $.Filter }}?filter={{ urlescape . }}{{end}}"><div class="row">
      <div class="col-md-4 lxenvironment">{{ .Name }}</div>
      <div class="col-md-7 shortdesc">{{ index .ShortDescription "en" }}</div>
</div></a></div>
{{ end }}
{{ end }}
        </div>

      <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
      <h1 id="tags">Tags</h1>
      {{with .Tag}}<p><a href="/{{ with $.Filter }}?filter={{ urlescape . }}{{end}}">Show all</a></p>{{end}}
      <ul class="list-unstyled" >
{{ range .Tags }}<li{{ if eq . $.Tag}} class="active"{{end}}><a href="/?{{ with $.Filter }}filter={{ urlescape . }}&amp;{{end}}tag={{ . }}">{{ . }}</a></li>{{ end }}
      </ul>
    </div>
  </div>
</div>

{{ template "foot" . }}
