{{template "head"}}
<div class="container-fluid">
<div class="row">
  <div class="col-md-7">
          <form class="form-inline" role="search" action="/" method="GET">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="{{ with .Filter }}{{ . }}{{else}}Command{{end}}" name="filter">
          </div>
          <button type="submit" class="btn btn-default">Filter</button>
          <a href="/"><button type="button" class="btn btn-info">Clear Filter</button></a>
        </form>
</div>
</div>

<div style="padding-top: 30px;"></div>


  <div class="row row-offcanvas row-offcanvas-left">
    <div class="col-xs-12 col-sm-9">
{{ range .Commands }}
<div class="cmddescription"><a href="/cmd/{{ urlescape .Name }}{{ with $.Filter }}?filter={{ urlescape . }}{{end}}"><div class="row">
      <div class="col-md-4 lxcommand">{{ .Name }}</div>
      <div class="col-md-7 shortdesc">{{ index .ShortDescription "en" }}</div>
</div></a></div>
{{ end }}
        </div>

      <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
      <h1>Tags</h1>
      <ul class="list-unstyled" >
{{ range .Tags }}<li><a href="/tag/{{ urlescape . }}">{{ . }}</a></li>{{ end }}
      </ul>
    </div>
  </div>
</div>

{{ template "foot" }}