body {
	color: #5E412F;
}



.container-fluid, .col-md-4, .col-md-5, .col-md-6, .col-md-7 {
	/*border: 1px solid black;*/
}

.navbar {
	background-color: #F0A830;
	color: #5E412F;
}

.active > a {
	background-color: #5E412F ;
	color: #FCEBB6 ;
}

.row {
	padding-top:5px;
	padding-bottom:5px;
}

.table {
	text-align: center;
	vertical-align: middle;
}


.lxcommand {
	font-family: monospace;
}

.lxenvironment {}

.lxpackage {
	font-style: italic;
}

.lxoptional {
	background-color: rgba(120,192,168,0.20);
}

/*  document class options on detail page */
.optiongroup {
	margin-bottom: 0px;
	margin-top: 10px;
	font-size: larger;
}

.shortdesc {
	/*font-size: smaller;*/
}

.cmddescription:nth-child(odd) {
    background-color: rgba(120,192,168,0.20);
}

.cmddescription:nth-child(even) {
	background-color: rgba(240,168,48,0.20);
}

li.active {
	background-color: rgba(94,65,47,0.8);
}

.lxcmddesc {
	padding-left: 4px;
	padding-right: 4px;
	font-family: Tahoma;
	font-style: italic;
	font-weight: lighter;
}

.vardivider {
  	border: 0;
  	color: rgba(94,65,47,0.8);
	background-color: rgba(94,65,47,0.8);
	height: 1px;
}


.commanddescription {
}
.commanddescription > h1 {
	font-size: 20px;
}

.commanddescription > h2 {
	font-size: 18px;
}

.commanddescription > pre {
	background-color: rgba(240,168,48,0.20);
}

.commanddescription * code {
	background-color: rgba(240,168,48,0.20);
}


.footer {
	margin-top: 40px;
	padding-bottom: 40px;
	padding-top: 5px;
	background-color: #5E412F;
	color: #FCEBB6;
}

.footer a {
	color: #F0A830;
}


.tex sub, .latex sub, .latex sup {
  text-transform: uppercase;
}

.tex sub, .latex sub {
  vertical-align: -0.2ex;
  margin-left: -0.1667em;
  /*margin-right: -0.125em;*/
}

.tex, .latex, .tex sub, .latex sub {
  font-size: 1em;
}

.latex sup {
  font-size: 0.85em;
  vertical-align: -0.25em;
  margin-left: -0.16em;
  margin-right: -0.05em;
}